<div class="container-fluid">
    <div class="logo">
        <label>Sr. Prudente</label>
    </div>
    <div class="form">
        <div class="mb-3">
            <button type="button" class="btn btn-outline-dark">
                <span>
                    <img src="../../assets/img/icon-google.png">
                </span>
                Continue com o google
            </button>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-dark">Login</button>
          </div>
          <div class="mb-3">
                <label>Não tem uma conta?</label>
          </div>
    </div>
</div>