ion-header {
    ion-toolbar {
        ion-title {
            border: none;
            margin: 0 0 20px 0;
            text-transform: uppercase;
            background-color: #ffffff;
        }
    }
}
