.container-fluid{
    background-color: var(--ion-color-tertiary);
    min-height: 100vh;

    button {
        height: 54px;
        width: 100%;
        cursor: pointer;
        border-radius: 25px;
        margin-bottom: 15px;
        background-color: var(--ion-color-primary);
    }

    .btn-dark {
        background-color: var(--ion-color-secondary);
    }
}