<div class="container-fluid">

  <!-- Buscar de barbearia -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Buscar barbearia " class="custom">
          <ion-icon name="search" slot="start"></ion-icon>
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="row">
    <div class="col">
      <h3>Agendamentos</h3>
    </div>
  </div>

  <div class="row" (click)="openModal('Branch')">
    <div class="col-2">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <div class="col-8" id="open-modal" expand="block">
      <div><label class="title">Filial</label></div>
      <div><label>Selecione a filial</label></div>
    </div>
    <div class="col">
      <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
    </div>
  </div>

  <div class="row" (click)="openModal('Professional')">
    <div class="col-2">
      <ion-icon name="person-outline"></ion-icon>
    </div>
    <div class="col-8">
      <div><label class="title">Profissional</label></div>
      <div><label>Selecione um profissional</label></div>
    </div>
    <div class="col">
      <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
    </div>
  </div>

  <div class="row" (click)="openModal('Product')">
    <div class="col-2">
      <ion-icon name="cut-outline"></ion-icon>
    </div>
    <div class="col-8">
      <div><label class="title">Serviço</label></div>
      <div><label>Selecione os serviços</label></div>
    </div>
    <div class="col">
      <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
    </div>
  </div>

  <div class="row" (click)="openModal('Schedule')">
    <div class="col-2">
      <ion-icon name="time-outline"></ion-icon>
    </div>
    <div class="col-8">
      <div><label class="title">Horário</label></div>
      <div><label>Selecione um horário</label></div>
    </div>
    <div class="col">
      <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
    </div>
  </div>

</div>


