.container-fluid {
    overflow-y: auto;

    ion-grid {
        margin: 35px 0 0 0;

        ion-row {
            ion-col {
                ion-input.custom {
                    --color: #000;
                    --padding-end: 10px;
                    --padding-top: 10px;
                    --border-radius: 5px;
                    --padding-start: 10px;
                    --padding-bottom: 10px;
                    --background: #f1f2f6;
                    --placeholder-opacity: 0.8;
                    --placeholder-color: #c4c4c4;

                    ion-icon {
                        color: #c4c4c4;
                    }
                }
            }
        }
    }
}


.container-fluid {
    overflow-y: auto;

    ion-grid {
        ion-row {
            ion-col {
                ion-img {
                    overflow: hidden;
                    object-fit: cover;
                    max-height: 200px;
                    border-radius: 20px;
                }

                ion-label {
                    font-size: 20px;
                    font-weight: 700;
                }

                div {
                    ion-row {
                        ion-col {
                            padding: 0;
                        }

                        ion-col.service-name {
                            font-weight: 900;
                        }

                        ion-col.service-time,
                        ion-col.service-price {
                            color: #647088;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        ion-row.card-service {
            margin: 0 0 20px 0;
        }
    }
}


.container-fluid {
    ion-grid {
        ion-row {
            ion-col {
                ion-icon.calendar {
                    padding: 7px;
                    color: #000;
                    font-size: 40px;
                    inset: 40% 0 0 0;
                    border-radius: 5px;
                    position: absolute;
                    background-color: #f1f2f6;
                }
            }
        }
        ion-row.date {
            font-size: 17px;
            font-weight: 900;
        }
        ion-row.hour {
            color: #647088;
            font-size: 12px;
        }
        ion-row.branch {
            color: #647088;
            font-size: 12px;
        }
    }
}