<div class="container-fluid">

  <ion-card class="card-logo">
    <ion-img class="img-home" src="../../../assets/img/img_home.png" alt=""></ion-img>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>Próximos agendamentos</ion-col>
      <ion-col><span>Clique aqui</span></ion-col>
    </ion-row>
  </ion-grid>

  <div class="calendar mb-5">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
            <ion-icon name="calendar-number-outline"></ion-icon>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Você não tem nenhum agendamento marcado
      </ion-card-content>
    </ion-card>
  </div>

  <button type="button" class="btn btn-dark">+ Novo agendamento</button>

</div>