<div class="container-fluid">

  <!-- Buscar de barbearia -->
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-input placeholder="Buscar barbearia: " class="custom">
            <ion-icon name="search" slot="start"></ion-icon>
          </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Serviços -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Serviços</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="card-service" *ngFor="let service of services">
      <ion-col>
        <ion-img src="{{service.img}}" alt="{{service.alt}}"></ion-img>

        <div>
          <ion-row>
            <ion-col class="service-name">{{service.serviceName}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="service-price">R$ {{service.price}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="service-time">{{service.time}}</ion-col>
          </ion-row>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Agendamentos -->
  <ion-grid>
    <ion-row>
        <ion-col>
           <ion-label>Meus agendamentos</ion-label>
        </ion-col>
    </ion-row>

    <ion-row *ngFor="let booking of bookings">
      <ion-col size="2">
        <ion-icon class="calendar" name="calendar-number-outline"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-grid>
          <ion-row class="date">{{booking.date}}</ion-row>
          <ion-row class="hour">{{booking.hour}}</ion-row>
          <ion-row class="branch">{{booking.branch}}</ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>