.container-fluid {
    ion-col:nth-child(2) {
        text-align: right;
    }

    .card-logo {
        width: 107%;
        margin: 0;
        padding: 0;
        left: -12px;
        border-radius: 0;
        position: relative;
    }

    ion-card {
        box-shadow: none;
    }

    .calendar {
        ion-card-header {
            text-align: center;
            ion-icon { 
                font-size: 50px;
            }
        }
    }

    button {
        height: 54px;
        width: 100%;
        cursor: pointer;
        border-radius: 25px;
        margin-bottom: 15px;
    }

    min-height: 100vh;
    background-color: var(--ion-color-tertiary);
}