<div class="container-fluid">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buscar Barbearia</ion-card-title>
      <ion-card-subtitle>Encontre sua barbearia</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Insira o código da sua barbearia para fazer seu agendamento!
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>Próximos agendamentos</ion-col>
      <ion-col><span>Clique aqui</span></ion-col>
    </ion-row>
  </ion-grid>

  <div class="calendar mb-5">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
            <ion-icon name="calendar-number-outline"></ion-icon>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Você não tem nenhum agendamento marcado
      </ion-card-content>
    </ion-card>
  </div>

  <button type="button" class="btn btn-dark mb-5">+ Novo agendamento</button>

</div>