<div class="container-fluid">
    <div class="row">
        <div class="logo">
            <label>Cut Connect</label>
        </div>
    </div>
    <div class="row">
        <div class="form">
            <div class="mb-3">
                <button type="button" class="btn btn-outline-dark">
                    <span>
                        <img src="../../../assets/img/icon-google.png">
                    </span>
                    Continue com o google
                </button>
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-dark">Login</button>
              </div>
              <div class="mb-3">
                    <label>Não tem uma conta?</label>
              </div>
        </div>
    </div>
    <div class="row text-fixed">
        <label>Por ser um assinante, você confirma que leu e aceitou os termos e politicas de privacidade.</label>
    </div>
</div>