<div class="container-fluid">
    <div>
        <ion-label>Cut Connect</ion-label>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button class="btn-custom" (click)="loginWithGoogle()">
                    <img src="../../../assets/img/icon-google.png">
                    Continue com o google</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="toLogin()">Login</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label (click)="toSignUp()">Não tem uma conta?</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-label class="txt-fixed">Por ser um assinante, você confirma que leu e aceitou os termos e politicas de privacidade.</ion-label>

</div>
