body {
    overflow-x: auto;
    background-color: #ffffff;
}

:root {
    --ion-color-primary: #ffffff;
    --ion-color-secondary: #000000;
    --ion-color-tertiary: #f7f8fc;
    --ion-color-quaternary: #c4c4c4;
}

