body {
    background-color: #ffffff;
}

:root {
    --ion-color-primary: #ffffff;
    --ion-color-secondary: #000000;
    --ion-color-tertiary: #f2f2f2;
}


// ion-split-pane{ 
//     --border: none !important;
//     ion-menu{
//      --background: --ion-color-secondary !important; 
//         ion-content{            
//             --background: var(--ion-color-secondary) !important; 
//             ion-list-header{ 
//                 --background: var(--ion-color-secondary) !important;
//                 --color: #000000 !important;   
//             }
//             ion-item{
//                 --background: var(--ion-color-secondary) !important;
//                  --color: #000000 !important;
//                  ion-icon{ padding-right: 10px !important; }
//             }
//         }
//     }
// }