body {
    overflow-x: auto;
    background-color: #ffffff;
}



:root {
    --ion-color-primary: #3498db;
    --ion-color-secondary: #2ecc71;
    --ion-color-tertiary: #ffffff;
    --ion-color-quaternary: #000000;
}


