ion-header {
    ion-toolbar {
        --background: var(--ion-color-tertiary);
        --color: var(--ion-color-quaternary);
        --border-width: 0 !important;
        ion-title {
            font-weight: 700;
        }
    }
}



ion-list {
    ion-item {
        ion-thumbnail {
            width: 35%;
            --size: 60px;
            --border-radius: 10px;
        }
        ion-label {
            h5 { font-weight: 900; }
            p { color: #647088; }
        }
    }

}

