<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-toolbar class="logo">
      <label>Cut Connect</label>
    </ion-toolbar>


    <ion-list *ngFor="let item of items">
      <ion-item class="ion-no-padding" (click)="hideToolbar()">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="auto">
              <ion-icon name="{{item.icon}}"></ion-icon>
            </ion-col>
            <ion-col>
              {{item.name}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header *ngIf="(isShowMenu | async)">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Página principal</ion-title>
    </ion-toolbar>  
  </ion-header>
  <ion-content class="ion-padding"> 
    <ion-router-outlet></ion-router-outlet>
   </ion-content>
</div>