<div class="container-fluid">

  <div class="row">
    <div class="col">
      <label>Login no cut connect</label>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Entre com seu e-mail senha para fazer login</label>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ion-item>
        <ion-input label="Email:" labelPlacement="stacked"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ion-item>
        <ion-input label="Senha:" labelPlacement="stacked"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-dark">Login</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label (click)="toSignIn()">Voltar</label>
    </div>
  </div>

</div>