<div class="container">
  <form [formGroup]="form">
    <ion-toolbar>
      <ion-input placeholder="Buscar barbearia " formControlName="search" (ionInput)="onSearch()">
        <ion-icon name="search" slot="start"></ion-icon>
      </ion-input>
    </ion-toolbar>
  </form>

  <div *ngIf="barbershops && barbershops.length > 0" class="item-list">
    <ion-list *ngFor="let barbershop of barbershops" (click)="onClick(barbershop)">
      <ion-item>
        <ion-icon name="cut"></ion-icon>
        <ion-label>
          <h5>{{barbershop.name}}</h5>
          <p>{{barbershop.id}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>